/* Regole Generali */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header */
header{
    background-color: rgb(10, 191, 204);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background: size 50%;
    height: 100px;
    width:100%;
    margin-bottom: 50px;
}

#logo{
    align-items: right;
    width:150px;
    height:50px;   
    margin-top: 50px;
}

h1{
    margin-top: 0%;
}

#autore{
    font-size: 16px;

}
#nomeautore{
    color:rgb(0, 204, 255);
}

#data{
    font-size: 10px;
}

/* Sezione Immagini */
#immagini{
    margin-top: 200px;
    width: 100%;
}

figure{
    margin-left: 0%;
    align-content: left;
    width:100%;
}

figcaption{
    font-size: 10px;
}

/* Sezione Testo */
.highlights{
    background-color: rgb(244, 229, 25);
}

p{
    text-justify:auto;
}

/* Sezione Tabella & Testo finale */
table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    color:white;
    background-color: rgb(0, 106, 255);
    background:contain;
}
.colored{
    background-color: rgb(0, 153, 255);
    background:contain;
}

.long{
    width:600px;
}

/* Footer */
h3{
    color: dimgray;
    font-size: 20px;
}
#Suggest1{
    margin-bottom:10px;
    width:200px;
    height:200px;
    background-image: url(../img/graph.jpg)
}

#Suggest1 div{
    color:white;
}

#Suggest2{
    margin-top: 15px;
    width:200px;
    height:200px;
    background-image: url(../img/monitor.jpg)
}

#Suggest2 div{
    color:white;
}